html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #1f1f1f;
  position: relative;
  /* overflow: hidden; */
}


.main-text {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  font-size: 500;
}

.name {
  font-size: xx-large;
}

.work-title {
  font-size: x-large;
}


.main {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  height: calc(100% - 10px);
  width: calc(100% - 15px);
  /* background-color: lightpink; */
  /* border: 3px solid yellow; */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border-radius: 10px;
  gap: 25px;
  margin: 0;
  padding: 1rem 0 0 0;
  z-index: 0;
}

.main-container {
  width: 100%;
  max-width: 320px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  background: #303030;
  color: whitesmoke;
  position: relative;
  margin: 0;
  padding: 10px;
  /* overflow: hidden; */
}



@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.main-container::after,
.main-container::before {
  content: '';
  position: absolute;
  height: calc(100% + 2px);
  width: calc(100% + 2px);
  background-image: conic-gradient(from var(--angle), transparent, #3C91E6, transparent, #5C946E);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  border-radius: 10px;
  animation: 3s spin linear infinite;
}

.main-container-mugshot {
  width: 200px;
  height: 200px;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #303030;
  /* color: whitesmoke; */
  position: relative;
  margin: 0;
  z-index: -1;
  /* padding: 10px; */
}

.main-container-mugshot::after,
.main-container-mugshot::before {
  content: '';
  position: absolute;
  height: calc(100% + 2px);
  width: calc(100% + 2px);
  background-image: conic-gradient(from var(--angle), transparent, #3C91E6, transparent, #5C946E);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  border-radius: 50%;
  animation: 3s spin linear infinite;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }

  to {
    --angle: 360deg;
  }

}


.main-container::before,
.main-container-mugshot::before,
.languages::before {
  filter: blur(1rem);
  opacity: 0.5;
}

.mugshot {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  /* background-color: rebeccapurple; */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}


.main-container-mugshot img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* background: red; */
}






@keyframes borderPath {
  0% {
    border-top-color: black;
    /* Top border starts as red */
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

  25% {
    border-top-color: transparent;
    border-right-color: black;
    /* Right border becomes blue */
  }

  50% {
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: black;
    /* Bottom border becomes green */
  }

  75% {
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: black;
    /* Left border becomes yellow */
  }

  100% {
    border-top-color: black;
    /* Start again with top border red */
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
}

/* .mugshot-container {
  position: relative;
} */


.boxes {
  position: relative;
  height: 50px;
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: expand-gap 2.5s ease-in-out forwards;
  border-bottom: white 1px solid;
  margin: 0;
}

/* .boxes::after,
.boxes::before {
  content: '';
  width: 100%;
  height: calc(100% + 200px);
  position: absolute;
  background-image: conic-gradient(from var(--angle), transparent, #3C91E6, transparent, #5C946E);
  animation: 3s spin linear infinite;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -11;
}

.boxes::before {
  content: '';
  filter: blur(1rem);
  opacity: 0.5;
} */


.display-box {
  width: 50px;
  height: 50px;
  background-color: lightblue;
  border-radius: 50%;
  transition: transform .5s;
  display: none;
}


.display-box {
  transition: transform .5s;
  animation: pulse 1s infinite;

}

.static-box:hover {
  transform: scale(1.2);
  animation: pulse 1s infinite;
}


.falling-box-left1 {
  width: 60px;
  height: 60px;
  /* background-color: lightgreen; */
  /* position: absolute;  */
  /* border-radius: 50%; */
  opacity: 0;
  /* top: -100px; */
  /* Start off-screen */
  animation: fall-left1 2s ease-in-out forwards;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* padding-bottom: 20px; */
}

.static-box-left1 {
  background-color: red;
}

.falling-box-left2 {
  width: 70px;
  height: 70px;
  opacity: 0;
  animation: fall-left2 2s ease-in-out forwards;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* padding-bottom: 20px; */
}


.falling-box-right2 {
  width: 50px;
  height: 50px;
  /* background-color: lightgreen; */
  /* position: absolute;  */
  /* border-radius: 50%; */
  opacity: 0;
  /* top: -100px; */
  /* Start off-screen */
  animation: fall-right2 2s ease-in-out forwards;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.falling-box-right1 {
  width: 50px;
  height: 50px;
  /* background-color: lightgreen; */
  /* position: absolute;  */
  /* border-radius: 50%; */
  opacity: 0;
  /* top: -100px; */
  /* Start off-screen */
  animation: fall-right1 2s ease-in-out forwards;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.box-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes expand-gap {
  from {
    gap: 0px
  }

  to {
    gap: calc(100% / 4 - 50px);
  }
}

@keyframes fall-left2 {
  0% {
    transform: translateY(-500px);
    opacity: 0;
  }

  70% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }

  80% {
    transform: translateY(-10px) rotate(-5deg);
    opacity: 1;
  }

  90% {
    transform: translateY(0) rotate(-10deg);
    opacity: 1;
  }

  95% {
    transform: translateY(-5px) rotate(-15deg);
    opacity: 1;
  }

  100% {
    transform: translateY(0px) rotate(-20deg);
    opacity: 1;
  }
}

@keyframes fall-right2 {
  0% {
    transform: translateY(-500px);
    opacity: 0;
  }

  70% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }

  80% {
    transform: translateY(-10px) rotate(5deg);
    opacity: 1;
  }

  90% {
    transform: translateY(0) rotate(10deg);
    opacity: 1;
  }

  95% {
    transform: translateY(-5px) rotate(15deg);
    opacity: 1;
  }

  100% {
    transform: translateY(0px) rotate(20deg);
    opacity: 1;
  }
}

@keyframes fall-left1 {
  0% {
    transform: translateY(-500px);
    opacity: 0;
  }

  70% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }

  80% {
    transform: translateY(-5px) rotate(-15deg);
    opacity: 1;
  }

  90% {
    transform: translateY(0) rotate(-30deg);
    opacity: 1;
  }

  95% {
    transform: translateY(-2.5px) rotate(-45deg);
    opacity: 1;
  }

  100% {
    transform: translateY(0px) rotate(-60deg);
    opacity: 1;
  }
}

@keyframes fall-right1 {
  0% {
    transform: translateY(-500px);
    opacity: 0;
  }

  70% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }

  80% {
    transform: translateY(-5px) rotate(15deg);
    opacity: 1;
  }

  90% {
    transform: translateY(0) rotate(30deg);
    opacity: 1;
  }

  95% {
    transform: translateY(-2px) rotate(45deg);
    opacity: 1;
  }

  97% {
    transform: translateY(-2px) rotate(55deg);
    opacity: 1;
  }

  100% {
    transform: translateY(0px) rotate(60deg);
    opacity: 1;
  }
}

@keyframes pulse {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }
}

.box1 {
  /* bottom: 125%; */
  animation-delay: 0s;
}

.box2 {
  animation-delay: 0.15s;
}

.box3 {
  animation-delay: 0.2s;
}

.box4 {
  animation-delay: 0.1s;
}


.tech {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 1rem;
  width: 100%;
  max-width: 320px;
  height: fit-content;
  border-radius: 10px;
  /* border: 1px rebeccapurple solid; */
  padding-top: 1rem;
}


.languages,
.tools,
.os,
.frameworks {
  position: relative;
  display: flex;
  /* flex-wrap: wrap; */
  padding: 0 .5rem 0 .5rem;
  gap: .5rem;
  justify-content: start;
  align-content: center;
  /* border: 1px green solid; */
  /* color: white; */
  border-bottom: 1px solid #1f1f1f;
  margin-bottom: 1rem;
  width: 100%;
  max-width: 500px;
  background-color: #1f1f1f;
  border-radius: 10px;
  /* animation: 3s spin linear infinite; */
  /* background-image: conic-gradient(from var(--angle), #3C91E6, #5C946E); */
  cursor: pointer;
}

.languages:hover::after,
.languages:hover::before,
.tools:hover::after,
.tools:hover::before,
.os:hover::after,
.os:hover::before,
.frameworks:hover::after,
.frameworks:hover::before {
  content: '';
  position: absolute;
  height: 90%;
  width: 60%;
  background-image: conic-gradient(from var(--angle), #000000, #04ff92, #3C91E6);
  top: 50%;
  left: 30%;
  translate: -50% -50%;
  z-index: -1;
  /* border-radius: 50%; */
  animation: 1s pulse linear infinite;
  opacity: .05;
  border-radius: 10px;
  cursor: pointer;
}

.languages:hover::before,
.tools:hover::before,
.os:hover::before,
.frameworks:hover::before {
  filter: blur(.5rem);
  opacity: 0.2;
}

.title-lang,
.title-frame,
.title-os,
.title-tools {
  color: white;
  font-size: large;
  font-weight: 500;
  position: absolute;
  top: -80%;
  left: 0%;
  animation: slideInSimple 1s ease-in-out forwards;
  /* border-bottom: 1px solid white; */
}

.tbox {
  /* position: absolute; */
  width: fit-content;
  height: 25px;
  /* background-color: #258cfb; */
  margin-bottom: 5px;
  margin-top: 5px;
  border-radius: 5px;
  transform: translateX(-100vw);
  animation: slideIn 2s ease-in-out forwards;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  gap: 4px;
  padding: 4px;
  /* font-size: large; */
  font-weight: 500;
  color: black;
  transition: transform 0.3s ease-in-out;
  /* border: 1px red solid; */
}

.tbox:hover {
  transform: scale(1.5);
  cursor: pointer;
}

.tbox-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 2px;
}

.net {
  background-color: #512BD4;

}

.javascript {
  background-color: #F7DF1E;
}

.linux {
  background-color: #FCC624;
}

.windows {
  background-color: #747474;
}

.css {
  background-color: #663399;
}

.csharp {
  background-color: #512BD4;
}

.mysql {
  background-color: #512BD4;

}

.xunit {
  background-color: white;
}

.efcore {
  background-color: #68217a;
}

.html {
  background-color: #E34F26;

}

.docker {
  background-color: #2496ED;

}

.tbox img {
  width: 20px;
  height: 20px;
}

.tbox-1 img {
  width: 12px;
  height: 12px;
}

.tbox:nth-child(1) {
  animation-delay: 0.5s;
}

.tbox:nth-child(2) {
  animation-delay: 0.4s;
}

.tbox:nth-child(3) {
  animation-delay: 0.3s;
}

.tbox:nth-child(4) {
  animation-delay: 0.2s;
}

.tbox:nth-child(5) {
  animation-delay: 0.1s;
}

.tbox:nth-child(6) {
  animation-delay: 1.45s;
}

.tbox:nth-child(7) {
  animation-delay: 1.35s;
}

.tbox:nth-child(8) {
  animation-delay: 1.25s;
}

.tbox:nth-child(9) {
  animation-delay: 1.15s;
}

@keyframes slideIn {
  0% {
    transform: translateX(-100vw);
  }

  80% {
    transform: translateX(0);
  }

  85% {
    transform: translateX(-2vw);
  }

  /* 90% {
    transform: translateX(0vw);
  }

  95% {
    transform: translateX(-1vw);
  } */

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInSimple {
  from {
    transform: translateX(-100vw);
  }

  to {
    transform: translateX(0);
  }
}
