html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #1f1f1f;
  position: relative;
}


.main-text {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  font-size: 500;
}

.name {
  font-size: xx-large;
}

.work-title {
  font-size: x-large;
}

.main {
  position: absolute;
  left: 50%;
  top: 0;
  translate: -50%;
  height: fit-content;
  width: calc(100% - 15px);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border-radius: 10px;
  gap: 3rem;
  margin: 0;
  padding: 1rem 0 0 0;
  z-index: 0;
}

.main-container {
  width: 100%;
  max-width: 320px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  background: #222222;
  color: whitesmoke;
  position: relative;
  margin: 0;
  padding: 10px;
  cursor: pointer;

}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.main-container::after,
.main-container::before {
  content: '';
  position: absolute;
  height: calc(100% + 2px);
  width: calc(100% + 2px);
  background-image: conic-gradient(from var(--angle), transparent, #3C91E6, transparent, #5C946E);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  border-radius: 10px;
  opacity: 1;
  animation: fadeIn .5s ease-in-out forwards, spin 6s linear infinite;
}

.main-container:hover::after,
.main-container:hover::before {
  opacity: .1;
  animation: fadeOut .5s ease-in-out forwards, spin 6s linear infinite;

}



.main-container-mugshot {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #303030;
  position: relative;
  margin: 0;
  z-index: -1;
}

.main-container-mugshot::after,
.main-container-mugshot::before {
  content: '';
  position: absolute;
  height: calc(100% + 2px);
  width: calc(100% + 2px);
  background-image: conic-gradient(from var(--angle), transparent, #3C91E6, transparent, #5C946E);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  border-radius: 50%;
  animation: fadeIn .5s ease-in-out forwards, spin 6s linear infinite;
}




.main-container::before,
.main-container-mugshot::before,
.languages::before {
  filter: blur(1rem);
  opacity: 0.5;
}

.mugshot {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}


.main-container-mugshot img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}





.boxes {
  position: relative;
  height: 50px;
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: expand-gap 2.5s ease-in-out forwards;
  border-bottom: white 1px solid;
  margin: 0;
}

.display-box {
  width: 50px;
  height: 50px;
  background-color: lightblue;
  border-radius: 50%;
  transition: transform .5s;
  display: none;
}


.display-box {
  transition: transform .5s;
  animation: pulse 1s infinite;

}

.static-box:hover {
  transform: scale(1.2);
  animation: pulse 1s infinite;
}


.falling-box-left1 {
  width: 60px;
  height: 60px;
  opacity: 0;
  animation: fall-left1 2s ease-in-out forwards;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.static-box-left1 {
  background-color: red;
}

.falling-box-left2 {
  width: 70px;
  height: 70px;
  opacity: 0;
  animation: fall-left2 2s ease-in-out forwards;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}


.falling-box-right2 {
  width: 50px;
  height: 50px;
  opacity: 0;
  animation: fall-right2 2s ease-in-out forwards;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.falling-box-right1 {
  width: 50px;
  height: 50px;
  opacity: 0;
  animation: fall-right1 2s ease-in-out forwards;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.box-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.box1 {
  animation-delay: 0s;
}

.box2 {
  animation-delay: 0.15s;
}

.box3 {
  animation-delay: 0.2s;
}

.box4 {
  animation-delay: 0.1s;
}


.tech {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 1rem;
  width: 100%;
  max-width: 320px;
  height: fit-content;
  border-radius: 10px;
  padding-top: 1rem;
}


.languages,
.tools,
.os,
.frameworks {
  position: relative;
  display: flex;
  padding: 0 .5rem 0 .5rem;
  gap: .5rem;
  justify-content: start;
  align-content: center;
  border-bottom: 1px solid #1f1f1f;
  margin-bottom: 1rem;
  width: 100%;
  max-width: 500px;
  background-color: #1f1f1f;
  border-radius: 10px;
  cursor: pointer;
}

.languages:hover::after,
.languages:hover::before,
.tools:hover::after,
.tools:hover::before,
.os:hover::after,
.os:hover::before,
.frameworks:hover::after,
.frameworks:hover::before {
  content: '';
  position: absolute;
  height: 90%;
  width: 60%;
  background-image: conic-gradient(from var(--angle), #000000, #04ff92, #3C91E6);
  top: 50%;
  left: 30%;
  translate: -50% -50%;
  z-index: -1;
  animation: 2s pulse linear infinite;
  opacity: .05;
  border-radius: 10px;
  cursor: pointer;
}

.languages:hover::before,
.tools:hover::before,
.os:hover::before,
.frameworks:hover::before {
  filter: blur(.5rem);
  opacity: 0.2;
}

.title {
  color: white;
  font-size: large;
  font-weight: 500;
  position: absolute;
  top: -80%;
  left: 0%;
  opacity: 0;
}

.title.show,
.title.show,
.title.show,
.title.show {
  animation: slideInSimple 1s ease-in-out forwards;
  opacity: 1;
}

.tbox {
  width: fit-content;
  height: 25px;
  margin-bottom: 5px;
  margin-top: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  gap: 4px;
  padding: 4px;
  font-weight: 500;
  color: black;
  opacity: 0;
}

.tbox.show {
  opacity: 1;
  transform: translateX(-100vw);
  animation: slideIn 1s ease-in-out forwards;
}

.tbox:hover {
  transform: scale(1.5);
  cursor: pointer;
}

.tbox-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 2px;
}

.net {
  background-color: #512BD4;

}

.javascript {
  background-color: #F7DF1E;
}

.linux {
  background-color: #FCC624;
}

.windows {
  background-color: #747474;
}

.css {
  background-color: #663399;
}

.csharp {
  background-color: #512BD4;
}

.mysql {
  background-color: #512BD4;

}

.xunit {
  background-color: white;
}

.efcore {
  background-color: #68217a;
}

.html {
  background-color: #E34F26;

}

.docker {
  background-color: #2496ED;

}

.tbox img {
  width: 20px;
  height: 20px;
}

.tbox-1 img {
  width: 12px;
  height: 12px;
}

.tbox:nth-child(1) {
  animation-delay: 0.5s;
}

.tbox:nth-child(2) {
  animation-delay: 0.4s;
}

.tbox:nth-child(3) {
  animation-delay: 0.3s;
}

.tbox:nth-child(4) {
  animation-delay: 0.2s;
}

.tbox:nth-child(5) {
  animation-delay: 0.1s;
}

.tbox:nth-child(6) {
  animation-delay: 1.45s;
}

.tbox:nth-child(7) {
  animation-delay: 1.35s;
}

.tbox:nth-child(8) {
  animation-delay: 1.25s;
}

.tbox:nth-child(9) {
  animation-delay: 1.15s;
}



.main-about {
  width: 100%;
  max-width: 320px;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 2rem;
  background-color: #222222;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}

.main-about::after,
.main-about::before {
  content: '';
  position: absolute;
  height: calc(100% + 2px);
  width: calc(100% + 2px);
  background-image: conic-gradient(from var(--angle), transparent, #3C91E6, transparent, #5C946E);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  border-radius: 10px;
  animation: fadeIn .5s ease-in-out forwards, spin 6s linear infinite;


}

.main-about:hover::after,
.main-about:hover::before {
  opacity: .1;
  animation: fadeOut .5s ease-in-out forwards, spin 6s linear infinite;
}

.main-about::before,
.languages::before {
  filter: blur(1rem);
  opacity: 0.5;
}

.title-about {
  position: absolute;
  color: whitesmoke;
  font-size: xx-large;
  left: 0;
  top: -10%;
  opacity: 0;

}

.summary {
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.summary p {
  color: whitesmoke;
  font-size: large;
}

.main-projects {
  width: 100%;
  max-width: 320px;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 2rem;
  border-radius: 10px;
  background-color: #222222;
  cursor: pointer;

}

.main-projects::after,
.main-projects::before {
  content: '';
  position: absolute;
  height: calc(100% + 2px);
  width: calc(100% + 2px);
  background-image: conic-gradient(from var(--angle), transparent, #3C91E6, transparent, #5C946E);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  border-radius: 10px;
  animation: fadeIn .5s ease-in-out forwards, spin 6s linear infinite;


}

.main-projects:hover::after,
.main-projects:hover::before {
  opacity: .1;
  animation: fadeOut .5s ease-in-out forwards, spin 6s linear infinite;
}

.main-projects::before,
.languages::before {
  filter: blur(1rem);
  opacity: 0.5;
}

.project-items {
  width: 100%;
  max-width: 320px;
  height: fit-content;
  display: flex;
  justify-content: center;
  padding: .1rem;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  gap: .5rem;
  padding: 2rem 0 2rem 0;
  overflow: hidden;
}

.title-projects {
  position: absolute;
  color: whitesmoke;
  font-size: xx-large;
  left: 0;
  top: -50px;

}

.pr-item {
  text-align: center;
  position: relative;
  width: 90%;
  height: 100px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  overflow: hidden;
}

.pr-item-sq {
  text-align: center;
  position: relative;
  width: 100px;
  height: 100px;
  /* max-width: 300px; */
  /* background-color: #2496ED; */
  /* border: 1px solid black; */
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  overflow: hidden;
}


.pr-item.show {
  animation: dropFromTop 1.2s linear forwards;
}

.pr-item:nth-child(1) {
  animation-delay: .8s;
}

.pr-item:nth-child(2) {
  animation-delay: .6s;
}

.pr-item:nth-child(3) {
  animation-delay: .4s;
}

.pr-item:nth-child(4) {
  animation-delay: .2s;
}

.pr-item:nth-child(5) {
  animation-delay: 0s;
}

.pr-item-sq.show {
  animation: slideIn 1s linear forwards;
}

.pr-item-sq:nth-child(1) {
  animation-delay: .6s;
}

.pr-item-sq:nth-child(2) {
  animation-delay: .4s;
}

.pr-item-sq:nth-child(3) {
  animation-delay: .2s;
}


.no-select {
  user-select: none;
}

.pr-item a,
.pr-item-sq a {
  width: 100%;
  height: 100%;
}

.pr-item img,
.pr-item-sq img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: -1px 0px;
  overflow: hidden;
  filter: blur(1px);
  z-index: -1;
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.pr-item img:hover,
.pr-item-sq img:hover {
  filter: blur(0px);
  transform: scale(1.1);
}

.pr-title {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  font-size: x-large;
  color: whitesmoke;
  z-index: 1;
  text-shadow: -1px -1px 0px black,
    1px -1px 0px black,
    -1px 1px 0px black,
    1px 1px 0px black;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;

}

.pr-item:hover .pr-title,
.pr-item-sq:hover .pr-title {
  top: -50%;
  opacity: 0;
}


.contact-box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 2.5rem 1rem 1rem 3rem;
  height: 100px;
  margin-bottom: .1rem;
  gap: .5rem;
  width: 100%;
  max-width: 320px;
  border-radius: 5px;
  background-color: #222222;
}

.title-contact {
  position: absolute;
  font-weight: 500;
  font-size: large;
  top: 15%;
  left: 12%;
  color: whitesmoke;
  translate: -50% -50%;
}

.contact-group {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  color: whitesmoke;
}

.contact-group img {
  width: 20px;
  height: 20px;
}

.slide {
  opacity: 0;
}

.slide.show {
  animation: slideInSimple 1s ease-in-out forwards;
  opacity: 1;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }

  to {
    --angle: 360deg;
  }

}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: .1;
  }
}

@keyframes borderPath {
  0% {
    border-top-color: black;
    /* Top border starts as red */
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

  25% {
    border-top-color: transparent;
    border-right-color: black;
    /* Right border becomes blue */
  }

  50% {
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: black;
    /* Bottom border becomes green */
  }

  75% {
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: black;
    /* Left border becomes yellow */
  }

  100% {
    border-top-color: black;
    /* Start again with top border red */
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
}

@keyframes expand-gap {
  from {
    gap: 0px
  }

  to {
    gap: calc(100% / 4 - 50px);
  }
}

@keyframes fall-left2 {
  0% {
    transform: translateY(-500px);
    opacity: 0;
  }

  70% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }

  80% {
    transform: translateY(-10px) rotate(-5deg);
    opacity: 1;
  }

  90% {
    transform: translateY(0) rotate(-10deg);
    opacity: 1;
  }

  95% {
    transform: translateY(-5px) rotate(-15deg);
    opacity: 1;
  }

  100% {
    transform: translateY(0px) rotate(-20deg);
    opacity: 1;
  }
}

@keyframes fall-right2 {
  0% {
    transform: translateY(-500px);
    opacity: 0;
  }

  70% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }

  80% {
    transform: translateY(-10px) rotate(5deg);
    opacity: 1;
  }

  90% {
    transform: translateY(0) rotate(10deg);
    opacity: 1;
  }

  95% {
    transform: translateY(-5px) rotate(15deg);
    opacity: 1;
  }

  100% {
    transform: translateY(0px) rotate(20deg);
    opacity: 1;
  }
}

@keyframes fall-left1 {
  0% {
    transform: translateY(-500px);
    opacity: 0;
  }

  70% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }

  80% {
    transform: translateY(-5px) rotate(-15deg);
    opacity: 1;
  }

  90% {
    transform: translateY(0) rotate(-30deg);
    opacity: 1;
  }

  95% {
    transform: translateY(-2.5px) rotate(-45deg);
    opacity: 1;
  }

  100% {
    transform: translateY(0px) rotate(-60deg);
    opacity: 1;
  }
}

@keyframes fall-right1 {
  0% {
    transform: translateY(-500px);
    opacity: 0;
  }

  70% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }

  80% {
    transform: translateY(-5px) rotate(15deg);
    opacity: 1;
  }

  90% {
    transform: translateY(0) rotate(30deg);
    opacity: 1;
  }

  95% {
    transform: translateY(-2px) rotate(45deg);
    opacity: 1;
  }

  97% {
    transform: translateY(-2px) rotate(55deg);
    opacity: 1;
  }

  100% {
    transform: translateY(0px) rotate(60deg);
    opacity: 1;
  }
}

@keyframes pulse {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-100vw);
    opacity: 0;
  }

  80% {
    transform: translateX(0);
  }

  85% {
    transform: translateX(-2vw);
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInSimple {
  from {
    transform: translateX(-100vw);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes dropFromTop {
  from {
    transform: translateY(-100vh);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
