@page
@model IndexModel
@{
    ViewData["Title"] = "Joseph Clifford";

}

<div class="main">
        <div class="main-container-mugshot">
            <div class="mugshot">
                <img src="/images/me1.jpg"/>
            </div>
        </div>
        <div class="main-container ">
            <div class="boxes">
                <a href="">
                    <div id="animated-box" class="portfolio falling-box-left1 box1">
                        <img class="box-img" src="/images/folder.svg" alt="github logo"/>
                    </div>
                </a>
                <a href="">
                    <div class="github falling-box-left2 box2">
                        <img class="box-img" src="/images/github.svg" alt="github logo"/>
                    </div>
                </a>
                <a href="">
                    <div class="about falling-box-right2 box3">
                        <img class="box-img" src="/images/about.svg" alt="github logo"/>
                    </div>
                </a>
                <a href="">
                    <div class="resume falling-box-right1 box4">
                        <img class="box-img" src="/images/resume.svg" alt="github logo"/>
                    </div>
                </a>
            </div>
            <div class="main-text">
                <div class="name">Joseph Clifford</div> 
                <div class="work-title">Software Engineer</div>
            </div>
    </div>
    <div class="tech">
        <div class="languages">
            <div class="title-lang">Languages</div>
            <div class="tbox csharp">
                @* <div class="tbox-1">
                    <img src="/images/c.svg" alt="c image"/>
                    <img src="/images/sharp.svg" alt="sharp image"/>
                </div> *@
                <div class="text">C#</div>
            </div>
            <div class="tbox javascript">
                <img src="/images/javascript.svg" alt="net image"/>
                <div class="text">JavaScript</div>
            </div>
            <div class="tbox css">
                <img src="/images/css.svg" alt="net image"/>
                <div class="text">CSS</div>
            </div>
            <div class="tbox html">
                <img src="/images/html5.svg" alt="net image"/>
                <div class="text">HTML</div>
            </div>
        </div>
        <div class="frameworks">
            <div class="title-frame">Frameworks</div>
            <div class="tbox efcore">
                <img src="/images/efcore.png" alt="efcore image"/>
                <div class="text">EF Core</div>
            </div>
            <div class="tbox xunit">
                <img src="/images/xunit.png" alt="xunit image"/>
                <div class="text">xUnit</div>
            </div>
        </div>
        <div class="tools">
            <div class="title-tools">Tools</div>
            <div class="tbox net">
                @* <img src="/images/net.svg" alt="net image"/> *@
                <div class="text">.NET</div>
            </div>
            
            <div class="tbox mysql">
                <img src="/images/mysql.svg" alt="net image"/>
                <div class="text">MySQL</div>
            </div>
            <div class="tbox docker">
                <img src="/images/docker.svg" alt="net image"/>
                <div class="text">Docker</div>
            </div>
        </div>
        <div class="os">
            <div class="title-os">OS</div>
            <div class="tbox linux">
                <img src="/images/linux.svg" alt="linux image"/>
                <div class="text">Linux</div>
            </div>
            <div class="tbox windows">
                <img src="/images/windows.svg" alt="windows image"/>
                <div class="text">Windows</div>
            </div>
        </div>
    </div>
</div>
