@page
@model IndexModel
@{
    ViewData["Title"] = "Joseph Clifford";
}

<div class="main text-center">
    @* <div class="main-container"> *@
        @* <div class="mugshot"></div> *@
        <div class="main-container display-1 position-relative border border-success">
            <div class="boxes">
                <div class="portfolio display-box border border-secondary"></div>
                <div class="github display-box border border-secondary"></div>
                <div class="resume display-box border border-secondary"></div>
                <div class="interests display-box border border-secondary"></div>
            </div>
            <div class="display-1">Joseph Clifford</div> 
            <div class="display-6">Aspiring Software Developer</div>
        </div>
    @* </div> *@
</div>
