@page
@model IndexModel
@{
    ViewData["Title"] = "Joseph Clifford";

}

<div class="main">
        <div class="main-container ">
            <div class="boxes">
                <div id="animated-box" class="portfolio falling-box-left1 box1">
                    <img class="box-img" src="/images/folder.svg" alt="github logo"/>
                </div>
                <div class="github falling-box-left2 box2">
                    <img class="box-img" src="/images/github.svg" alt="github logo"/>
                </div>
                <div class="about falling-box-right2 box3">
                    <img class="box-img" src="/images/about.svg" alt="github logo"/>
                </div>
                <div class="resume falling-box-right1 box4">
                    <img class="box-img" src="/images/resume.svg" alt="github logo"/>
                </div>
            </div>
            
            <div class="display-1">Joseph Clifford</div> 
            <div class="display-6">Software Engineer</div>
        </div>
</div>
