@page
@model IndexModel
@{
    ViewData["Title"] = "Joseph Clifford";

}


<div class="main">
    <div class="main-container-mugshot">
        <div class="mugshot">
            <img src="/images/me1.jpg"/>
        </div>
        <button id="theme" class="theme-button" onclick="toggleTheme()">☀️</button>
        <button onclick="location.href='#name'" class="link-button one">👋🏼</button>
        <button onclick="location.href='#tech'" class="link-button two">💻</button>
        <button onclick="location.href='#about'" class="link-button three">📜</button>
        <button onclick="location.href='#projects'" class="link-button four">🧮</button>
        <button onclick="location.href='#links'"class="link-button five">🔗</button>
        <button onclick="location.href='#contact'" class="link-button six">📞</button>

    </div>
    <div id="name" class="main-container">
    <div id="section" class="section-line slide"></div>
    <div class="section-dot slide"></div>
        <div class="main-text">
            <div class="name">Joseph Clifford</div> 
            <div class="work-title">Software Engineer</div>
            <div class="location-title">San Diego, CA</div>
        </div>
    </div>
    <div class="tech">
        <div class="section-line slide"></div>
        <div class="section-dot slide"></div>
        <div id="tech" class="title-tech slide">
            <a class="no-style" href="#tech">Skills</a>
        </div>
        <div class="languages">
            <div class="title">Languages</div>
            <div class="tbox csharp">
                <div class="text">C#</div>
            </div>
            <div class="tbox javascript">
                <img src="/images/javascript.svg" alt="net image"/>
                <div class="text">JavaScript</div>
            </div>
            <div class="tbox css">
                <img src="/images/css.svg" alt="net image"/>
                <div class="text">CSS</div>
            </div>
            <div class="tbox html">
                <img src="/images/html5.svg" alt="net image"/>
                <div class="text">HTML</div>
            </div>
        </div>
        <div class="frameworks">
            <div class="title">Frameworks</div>
            <div class="tbox efcore">
                <img src="/images/efcore.png" alt="efcore image"/>
                <div class="text">EF Core</div>
            </div>
            <div class="tbox xunit">
                <img src="/images/xunit.png" alt="xunit image"/>
                <div class="text">xUnit</div>
            </div>
        </div>
        <div class="tools">
            <div class="title">Tools</div>
            <div class="tbox net">
                @* <img src="/images/net.svg" alt="net image"/> *@
                <div class="text">.NET</div>
            </div>
            <div class="tbox mysql">
                <img src="/images/mysql.svg" alt="net image"/>
                <div class="text">MySQL</div>
            </div>
            <div class="tbox docker">
                <img src="/images/docker.svg" alt="net image"/>
                <div class="text">Docker</div>
            </div>
        </div>
        <div class="os">
            <div class="title">OS</div>
            <div class="tbox linux">
                <img src="/images/linux.svg" alt="linux image"/>
                <div class="text">Linux</div>
            </div>
            <div class="tbox windows">
                <img src="/images/windows.svg" alt="windows image"/>
                <div class="text">Windows</div>
            </div>
        </div>
    </div>
    <div class="main-about">
        <div class="section-line"></div>
        <div class="section-dot"></div>
        <div id="about" class="title-about slide">
            <a class="no-style" href="#about">Who Am I?</a>
        </div>
        <div class="summary">
            <p class="slide"><strong class="big-text">Hi, I'm </strong><strong class="big-text-name">Joseph</strong>, an aspiring software developer with a B.S. in Computer Science from SDSU. I have experience in <span class="fancy-text">full-stack development</span>, <span class="fancy-text">C#</span>, <span class="fancy-text">.NET</span>, and <span class="fancy-text">JavaScript</span>, along with a commitment to writing clean, maintainable code that contributes to the scalability and performance of applications.</p>
            <p class="slide"><strong class="big-text">Projects</strong> I have created include a <a class="link" href="#projects">Secure Password Manager</a> using <span class="fancy-text">.NET 8</span> and <span class="fancy-text">MySQL</span>, a <a class="link" href="#projects">Data Structures Website</a> built with <span class="fancy-text">React</span> and <span class="fancy-text">D3.js</span>, and a video game platformer developed with a team of four. I enjoy solving complex problems and continuously expanding my knowledge in software security and web development.</p>
            <p class="slide"><strong class="big-text">Beyond coding</strong>, I love learning something new every day, whether it’s learning a second language or solving logic puzzles. I also enjoy going for runs, especially training for half marathons. I’m always open to new opportunities and collaborations, so feel free to reach out!</p>
        </div>
    </div>
    <div class="main-projects">
        <div class="section-line"></div>
        <div class="section-dot"></div>
        <div id="projects" class="title-projects slide">
            <a class="no-style" href="#projects">What I've Made</a>

        </div>
        <div class="project-items">
            <div class="pr-item">
                <div class="pr-title no-select">Visual DS</div>
                <a href="https://visual-ds-virid.vercel.app">
                    <img src="images/vis-ds.png" alt="project image"/>
                </a>
            </div>
            <div class="pr-item">
                <div class="pr-title no-select">Password Manager</div>
                <a href="https://github.com/jclifford4/SecurePasswordManager"><img src="images/spm.png" alt="project image"/></a>
            </div>
            <div class="pr-item">
                <div class="pr-title no-select">Admin Dashboard</div>
                <a href="https://jclifford4.github.io/admin-dashboard"><img src="images/dashboard.png" alt="admin dashboard image"/></a>
            </div>
            <div class="pr-item">
                <div class="pr-title no-select">Sketch Pad</div>
                <a href="https://jclifford4.github.io/sketch-pad"><img src="images/sketch-pad.png" alt="sketch pad image"/></a>
            </div>
            <div class="pr-item">
                <div class="pr-title no-select">Calculator</div>
                <a href="https://jclifford4.github.io/calculator"><img src="images/calc.png" alt="calculator image"/></a>
            </div>
            <div class="pr-item">
                <div class="pr-title no-select">Rock Paper Scissors</div>
                <a href="https://jclifford4.github.io/rock-paper-scissors"><img src="images/rps.png" alt="rock paper scissors image"/></a>
            </div>
            <div class="pr-item">
                <div class="pr-title no-select">Library</div>
                <a href="https://jclifford4.github.io/library/"><img src="images/library.png" alt="library image"/></a>
            </div>
        </div>
    </div>
    <div class="main-projects">
        <div class="section-line"></div>
        <div class="section-dot"></div>
        <div id="links" class="title-projects slide">
            <a class="no-style" href="#links">Where To See More</a>

        </div>
        <div class="project-items">
            <div class="pr-item-sq">
                @* <div class="pr-title no-select">GitHub</div> *@
                <a href="https://github.com/jclifford4"><img src="images/github.png" alt="github image"/></a>
            </div>
            <div class="pr-item-sq">
                @* <div class="pr-title no-select">LinkedIn</div> *@
                <a href="https://www.linkedin.com/in/jclifford4"><img src="images/linkedin.png" alt="linkedin image"/></a>
            </div>
            <div class="pr-item-sq">
                @* <div class="pr-title no-select">Code Pen</div> *@
                <a href="https://codepen.io/josephclifford12"><img src="images/codepen.png" alt="codepen image"/></a>
            </div>
            
        </div>
    </div>
    <div class="contact-box">
        <div class="section-line"></div>
        <div class="section-dot"></div>
        <div id="contactBig" class="title-contact-big slide">
            <a class="no-style" href="#contactBig">Contact</a>
        </div>
        <div id="contact" class="title-contact">
            Contact
        </div>
        <div class="contact-group">
            <img src="/images/email.svg" alt="email icon"/>
            <div class="email">joseph.clifford.iv@gmail.com</div>
        </div>
        <div class="contact-group">
            <img src="/images/phone.svg" alt="phone icon"/>
            <div class="phone">(619) 244 - 6977</div>
        </div>
    </div>
    <div class="privacy">Made By Joseph Clifford 👍 © 2025 </div>
</div>

<script>

    const button = document.getElementById('theme');
    const body = document.body;
    const toggleTheme = () => {
        const isLightMode = body.classList.toggle("light-mode");

        button.textContent = isLightMode ? "🌙" : "☀️";

        localStorage.setItem("theme", body.classList.contains("light-mode") ? "light" : "dark");
    };

    // Apply saved theme on page load
    document.addEventListener("DOMContentLoaded", () => {
        if (localStorage.getItem("theme") === "light") {
            document.body.classList.add("light-mode");
            button.textContent = "☀️";
        }
    });

    document.addEventListener("DOMContentLoaded", function () {
    const tboxes = document.querySelectorAll(".tbox");
    const titles = document.querySelectorAll(".title");
    const slides = document.querySelectorAll(".slide");
    const projects = document.querySelectorAll(".pr-item");
    const projectSqs = document.querySelectorAll(".pr-item-sq");
    const lines = document.querySelectorAll(".section-line");
    const dots = document.querySelectorAll(".section-dot");


    const observer = new IntersectionObserver(
        (entries, observer) => {
            entries.forEach((entry) => {
                if (entry.isIntersecting) {
                    entry.target.classList.add("show");
                    observer.unobserve(entry.target); // Stop observing after first trigger
                }
            });
        },
        { threshold: .25 } // Trigger when 10% of the element is visible
    );

    tboxes.forEach((tbox) => observer.observe(tbox));
    titles.forEach((title) => observer.observe(title));
    slides.forEach((slide) => observer.observe(slide));
    projects.forEach((project) => observer.observe(project));
    projectSqs.forEach((projectSq) => observer.observe(projectSq));
    lines.forEach((line) => observer.observe(line));
    dots.forEach((dot) => observer.observe(dot));
});
</script>
