@page
@model IndexModel
@{
    ViewData["Title"] = "Joseph Clifford";

}


<div class="main">
        <div class="main-container-mugshot">
            <div class="mugshot">
                <img src="/images/me1.jpg"/>
            </div>
        </div>
        <div class="main-container ">
            <div class="boxes">
                <a href="#projects">
                    <div id="animated-box" class="portfolio falling-box-left1 box1">
                        <img class="box-img" src="/images/folder.svg" alt="github logo"/>
                    </div>
                </a>
                <a href="">
                    <div class="github falling-box-left2 box2">
                        <img class="box-img" src="/images/github.svg" alt="github logo"/>
                    </div>
                </a>
                <a href="#about">
                    <div class="about falling-box-right2 box3">
                        <img class="box-img" src="/images/about.svg" alt="github logo"/>
                    </div>
                </a>
                <a href="">
                    <div class="resume falling-box-right1 box4">
                        <img class="box-img" src="/images/resume.svg" alt="github logo"/>
                    </div>
                </a>
            </div>
            <div class="main-text">
                <div class="name">Joseph Clifford</div> 
                <div class="work-title">Software Engineer</div>
            </div>
    </div>
    <div class="tech">
        <div class="languages">
            <div class="title">Languages</div>
            <div class="tbox csharp">
                <div class="text">C#</div>
            </div>
            <div class="tbox javascript">
                <img src="/images/javascript.svg" alt="net image"/>
                <div class="text">JavaScript</div>
            </div>
            <div class="tbox css">
                <img src="/images/css.svg" alt="net image"/>
                <div class="text">CSS</div>
            </div>
            <div class="tbox html">
                <img src="/images/html5.svg" alt="net image"/>
                <div class="text">HTML</div>
            </div>
        </div>
        <div class="frameworks">
            <div class="title">Frameworks</div>
            <div class="tbox efcore">
                <img src="/images/efcore.png" alt="efcore image"/>
                <div class="text">EF Core</div>
            </div>
            <div class="tbox xunit">
                <img src="/images/xunit.png" alt="xunit image"/>
                <div class="text">xUnit</div>
            </div>
        </div>
        <div class="tools">
            <div class="title">Tools</div>
            <div class="tbox net">
                @* <img src="/images/net.svg" alt="net image"/> *@
                <div class="text">.NET</div>
            </div>
            <div class="tbox mysql">
                <img src="/images/mysql.svg" alt="net image"/>
                <div class="text">MySQL</div>
            </div>
            <div class="tbox docker">
                <img src="/images/docker.svg" alt="net image"/>
                <div class="text">Docker</div>
            </div>
        </div>
        <div class="os">
            <div class="title">OS</div>
            <div class="tbox linux">
                <img src="/images/linux.svg" alt="linux image"/>
                <div class="text">Linux</div>
            </div>
            <div class="tbox windows">
                <img src="/images/windows.svg" alt="windows image"/>
                <div class="text">Windows</div>
            </div>
        </div>
    </div>
    <div class="main-about">
        <div id="about" class="title-about slide">
            About Me
        </div>
        <div class="summary">
            <p class="slide">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta.</p>
            <p class="slide">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta.</p>
        </div>
    </div>
    <div class="main-projects">
        <div id="projects" class="title-projects">
            Projects
        </div>
        <div class="project-items">
            <div class="pr-item">
                <div class="pr-title no-select">Visual DS</div>
                <a href="https://visual-ds-virid.vercel.app">
                    <img src="images/vis-ds.png" alt="project image"/>
                </a>
            </div>
            <div class="pr-item">
                <div class="pr-title no-select">SPM</div>
                <a href="https://github.com/jclifford4/SecurePasswordManager"><img src="images/spm.png" alt="project image"/></a>
            </div>
            <div class="pr-item">
                <div class="pr-title no-select">Admin Dashboard</div>
                <a href="https://jclifford4.github.io/admin-dashboard"><img src="images/dashboard.png" alt="admin dashboard image"/></a>
            </div>
            <div class="pr-item">
                <div class="pr-title no-select">Sketch Pad</div>
                <a href="https://jclifford4.github.io/sketch-pad"><img src="images/sketch-pad.png" alt="sketch pad image"/></a>
            </div>
            <div class="pr-item">
                <div class="pr-title no-select">Calculator</div>
                <a href="https://jclifford4.github.io/calculator"><img src="images/calc.png" alt="calculator image"/></a>
            </div>
            <div class="pr-item">
                <div class="pr-title no-select">Rock Paper Scissors</div>
                <a href="https://jclifford4.github.io/rock-paper-scissors"><img src="images/rps.png" alt="rock paper scissors image"/></a>
            </div>
            <div class="pr-item">
                <div class="pr-title no-select">Library</div>
                <a href="https://jclifford4.github.io/library/"><img src="images/library.png" alt="library image"/></a>
            </div>
        </div>
    </div>
    <div class="main-projects">
        <div id="projects" class="title-projects">
            Other
        </div>
        <div class="project-items">
            <div class="pr-item-sq">
                @* <div class="pr-title no-select">GitHub</div> *@
                <a href="https://jclifford4.github.com"><img src="images/github.png" alt="github image"/></a>
            </div>
            <div class="pr-item-sq">
                @* <div class="pr-title no-select">LinkedIn</div> *@
                <a href="https://www.linkedin.com/in/jclifford4"><img src="images/linkedin.png" alt="linkedin image"/></a>
            </div>
            <div class="pr-item-sq">
                @* <div class="pr-title no-select">Code Pen</div> *@
                <a href="https://codepen.io/josephclifford12"><img src="images/codepen.png" alt="codepen image"/></a>
            </div>
            
        </div>
    </div>
    <div class="contact-box">
        <div id="contact" class="title-contact">
            Contact
        </div>
        <div class="contact-group">
            <img src="/images/email.svg" alt="email icon"/>
            <div class="email">joseph.clifford.iv@gmail.com</div>
        </div>
        <div class="contact-group">
            <img src="/images/phone.svg" alt="phone icon"/>
            <div class="phone">(619) 244 - 6977</div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
    const tboxes = document.querySelectorAll(".tbox");
    const titles = document.querySelectorAll(".title");
    const slides = document.querySelectorAll(".slide");
    const projects = document.querySelectorAll(".pr-item");
    const projectSqs = document.querySelectorAll(".pr-item-sq");


    const observer = new IntersectionObserver(
        (entries, observer) => {
            entries.forEach((entry) => {
                if (entry.isIntersecting) {
                    entry.target.classList.add("show");
                    observer.unobserve(entry.target); // Stop observing after first trigger
                }
            });
        },
        { threshold: .5 } // Trigger when 10% of the element is visible
    );

    tboxes.forEach((tbox) => observer.observe(tbox));
    titles.forEach((title) => observer.observe(title));
    slides.forEach((slide) => observer.observe(slide));
    projects.forEach((project) => observer.observe(project));
    projectSqs.forEach((projectSq) => observer.observe(projectSq));
});
</script>
